header {
  .fa-bars,
  .fa-times {
    display: none;
  }

  .violet {
    color: $violet !important;
  }

  nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    transition: $transition;
    text-transform: uppercase;

    ul {
      display: flex;
      margin: 0;
      justify-content: center;
      padding: 0;
      text-align: center;

      a {
        color: $white;
        width: 20%;

        li {
          list-style-type: none;
          line-height: 50px;
          transition: $transition;
        }

        &:hover {
          color: $black;
          text-decoration: none;

          li {
            background-color: $white;
          }
        }
      }

      a.active {
        color: $white;

        li {
          background-color: $violet;
        }
      }
    }
  }
}
